<extend name="Base/public"/>
<block name="text">
    <div class="container-fluid">
        <div class="blank"></div>
        <h3 class="noticeDetailTitle"><strong>关于我们</strong></h3>
        <div class="noticeDetailContent">
            开发周期：2013-06~2013-08<br/>
            参与人员：z<br/>
            主要功能：<br/>
            01）微信的自动回复（文本，图文，音频），<br/>
            02）微信自定义菜单，<br/>
            03）微视频，疯狂猜单词，疯狂听单词，账号绑定CRM，启德名师，高分学员，院校库等模块上线，<br/>
            04）手机通过微信绑定后，将微信账号反推至CRM，<br/>
            05）教务系统调课，根据调课事件推送微信消息至相关人员。<br/>
        </div>
    </div>
</div>
</block>